body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a351c;
  color: whitesmoke;
}

a,
a:visited,
a:focus,
a:active {
  color: inherit;
}

.title {
  text-align: center;
}

.students {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.student {
  width: 180px;
  margin: 1rem;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.8);
  background-color: #6c9a06;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa {
  padding-right: 0.5rem;
}

.student__github__url {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.student__github__image {
  width: 100%;
  height: auto;
}

.student__name {
  margin: 0.5rem;
  text-decoration: none;
}

.student__campus {
  margin: 0;
}